<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="{{ assetPath "app.css" }}">
  <title>WarDen Monitor</title>
</head>
<body>
<div id="top"></div>
<div id="nav"></div>
<div id="main">
  <div id="part-info" class="container"></div>
  <div id="chart"></div>
</div>
</body>
<script src="{{ assetPath "app.js" }}"></script>
</html>